@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{
  --z-fixed: 100;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 90px;
  background-color: rgba(245, 245, 245, 0.952);
  box-shadow: 0px 0px 5px 5px rgba(105, 105, 105, 0.219);
}

body {
  background-color: rgba(245, 245, 245, 1);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Alinha logo e menu em uma linha */
  align-items: center;
}

.logo a {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.795);
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  list-style-type: none;
}

.options a {
  position: relative;
  color: rgba(0, 0, 0, 0.651);
}

.options a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(135, 206, 235, 1);
  transition: all 0.3s ease;
}

.options a:hover::after {
  width: 70%;
}

.options a:hover {
  color: rgba(135, 206, 235, 1);
}

.conteudo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 50px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.icons img {
  width: 25px;
}

.texto1 p {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.651);
}

.texto1 h1 {
  font-size: 3.7rem;
  font-family: 'Hind Siliguri', sans-serif;
}

.img-01 {
  width: 600px;
}

.conteudo2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 60px;
  justify-content: center;
}

.img-icons {
  display: flex;
  flex-direction: column;
}

.texto2 {
  width: 400px;
}

.texto2 h2 {
  font-size: 2.5rem;
}

.texto2 p {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.651);
}

.img2 {
  width: 350px;
}

.conteudo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  gap: 40px;
  flex-wrap: wrap;
}

.swiper {
  width: 800px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo3 h2 {
  font-size: 2.5rem;
}

.projetos {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.git {
  font-size: 1.1rem;
}

.projeto1 {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  height: 180px;
  width: 280px;
  border-radius: 15px;
  background-color: #8e8e8e;
  border: none;
  transition: transform 0.5s ease-in;
}

.projeto1:hover {
  background-color: #00000044;
  cursor: pointer;
}

.projeto1 p {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #d8d8d8;
}

.conteudo4 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.conteudo4 h2 {
  font-size: 2.5rem;
}

.tecnologias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.tecnologias img {
  width: 130px;
}

.tecnologia {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tecnologia1 {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.mobile-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 850px) {
  .projetos {
    flex-direction: column;
    gap: 25px;
  }

  .img-01 {
    display: none; /* Esconde a imagem em telas menores */
  }

  .conteudo1 {
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .img2 {
    display: none;
  }

  .conteudo2 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .texto2 {
    width: 100%; /* Aumenta a largura do texto para ocupar toda a tela */
  }

  .tecnologias {
    flex-direction: column;
    gap: 20px;
  }

  .conteudo1 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 550px) {
  .menu {
    display: none; /* Esconde o menu em telas muito pequenas */
  }

  .cabecalho {
    justify-content: start;
    padding-left: 10%;
  }

  .logo a {
    font-size: 1.4rem; /* Reduz o tamanho da logo em dispositivos pequenos */
  }

  .options {
    display: none; /* Esconde as opções de menu em dispositivos muito pequenos */
  }

  .mobile-icon {
    display: block; /* Exibe o ícone de menu para dispositivos pequenos */
  }

  .mobile-menu {
    display: block; /* Exibe o menu no formato mobile */
  }

  .conteudo1 {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;
  }

  .texto1 h1 {
    font-size: 2.5rem;
  }

  .texto1 p {
    font-size: 1.3rem;
  }

  .img-01 {
    width: 100%; /* Adapta a imagem para a tela */
  }

  .conteudo2 {
    gap: 30px;
  }

  .img2 {
    width: 100%; /* Adapta a imagem para a tela */
  }

  .conteudo4 h2 {
    font-size: 2rem; /* Ajusta o tamanho da fonte do título */
  }

  .tecnologias {
    flex-direction: column;
    gap: 15px;
  }

  .tecnologia img {
    width: 100px; /* Ajusta o tamanho das imagens das tecnologias */
  }
}

@media (max-width: 400px) {
  .conteudo3 h2 {
    font-size: 2rem; /* Ajusta o tamanho da fonte do título */
  }

  .projeto1 {
    width: 100%; /* Faz os projetos se ajustarem para a tela */
  }

  .swiper {
    width: 100%; /* Ajusta o swiper para se ajustar à tela */
    height: 350px; /* Ajusta a altura do swiper */
  }

  .mobile-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(245, 245, 245, 0.95);
    box-shadow: 0px 0px 5px rgba(105, 105, 105, 0.219);
    width: 100%;
    display: block;
    padding: 10px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
  height: 200px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* menu mobile */

/* Novo estilo para o menu suspenso */
.mobile-menu {
  display: none;
  background-color: rgba(245, 245, 245, 0.95);
  box-shadow: 0px 0px 5px rgba(105, 105, 105, 0.219);
  position: absolute;
  top: 90px; /* Ajusta a posição do menu abaixo do cabeçalho */
  right: 0;
  width: 100%;
  padding: 20px;
}

.mobile-menu.show {
  display: block; /* Exibe o menu quando a classe 'show' é adicionada */
}

.options {
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.options a {
  color: rgba(0, 0, 0, 0.651);
  padding: 10px;
  font-size: 1.2rem;
}

.mobile-icon {
  display: block; /* Exibe o ícone do menu em telas pequenas */
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 850px) {
  .mobile-menu {
    padding: 20px;
  }

  .conteudo1 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .swiper {
    width: 100%; /* Ajusta o carrossel para a largura da tela */
    height: 400px; /* Ajusta a altura do carrossel */
  }

  .img-01 {
    width: 100%; /* Ajusta a largura da imagem */
  }

  .conteudo2 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .img2 {
    width: 100%; /* Ajusta a largura da imagem */
  }

  .tecnologias {
    flex-direction: column;
    gap: 15px;
  }

  .tecnologia img {
    width: 100px;
  }
}

@media (max-width: 550px) {
  .mobile-icon {
    font-size: 2.5rem; /* Aumenta o tamanho do ícone */
  }

  .conteudo1 {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;
  }

  .texto1 h1 {
    font-size: 2.5rem;
  }

  .texto1 p {
    font-size: 1.3rem;
  }

  .img-01 {
    width: 100%;
  }

  .conteudo2 {
    gap: 30px;
  }

  .img2 {
    width: 100%;
  }

  .conteudo4 h2 {
    font-size: 2rem;
  }

  .tecnologias {
    flex-direction: column;
    gap: 15px;
  }

  .tecnologia img {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .projeto1 {
    width: 100%; /* Faz os projetos se ajustarem para a tela */
  }

  .swiper {
    width: 100%;
    height: 350px;
  }

  .mobile-menu {
    top: 60px;
    padding: 10px;
  }
}
